# Copy this to .env.local for particular environment
ENV=staging
BASE_URL=https://gatotkaca.tiket.com
MIXPANEL_API_URL=https://api-js.mixpanel.com/track/
DEFAULT_TIMEOUT=30000
PAGE_LOAD_TIMEOUT=10000
DEBUG_MODE=false
HEADLESS_MODE=true