# Logs
*.log
logs/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output/

# Dependencies
node_modules/

# Optional npm cache directory
.npm

# Environment variables
.env
.env.local

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db